.container {
  width: 100vh;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: blueviolet;
  font-family: sans-serif;
  flex-direction: column;
}
.container > h3 {
  color: blue;
}

.display {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: black;
  background-color: white;
  padding: 1rem;
  margin: 1rem;
  gap: 1rem;
  border-radius: 2rem;
  font-weight: bold;
}
.display > btn {
  border: none;
  cursor: pointer;
}
.container > button {
  border-radius: 0.8rem;
  display: inline-block;
  padding: 0.5rem;
  background-color: blue;
  color: white;
}
