BE/BE_Code/node_modules
BE/BE_Code_2/todoApp/node_modules
BE/BE_Code_4/node_modules
Tutor/Node/node_modules
TS/Code/node_modules
Tutor/APP/node_modules
Tutor/AuthN/node_modules
BE/FileUpload/node_modules
Tutor/folder1/node_modules