input {
  border: 1px solid red;
}

input::-webkit-file-upload-button {
  background: rgb(0, 0, 0);
  padding: 2rem;
  color: white;
  border: none;
  border-radius: 20px;
  width: 100%;
}
input[type='text'] {
  font: bold 1.5rem sans-serif;
  color: red;
}

input::placeholder {
  color: green;
}
