body {
  font-family: sans-serif;
  margin: 0 50px;
}
.container {
  display: flex;
  column-gap: 3rem;
}

#form {
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
}
#form button {
  width: 30%;
}

.post {
  display: flex;
  justify-content: space-between;
  align-items: center;
  column-gap: 3rem;
}
.right {
  padding-top: 3rem;
}
.options {
  display: flex;
  column-gap: 0.8rem;
}
#msg {
  color: red;
}
