button {
  border: none;
  background-color: red;
  border-radius: 3px;
  padding: 4px 10px;
  font-size: 2rem;
  /* transition: all 0.3s;
   */
  transition: background-color 3s, width 4s;
  /* transition-delay: 5s; */
}

button:hover {
  background-color: blue;
  width: 200px;
}
